/* Table of Contents
 *
 * Grid Styles
 * Search and Sort Options
 * Results Break
 * Sinlge Staff
 *
 */

/************************* Grid Styles *************************/

.staff-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  margin: 0 auto;
}

.s-row {
  -ms-flex: 0 1 auto;
      flex: 0 1 auto;
  width: 100%;
  /* Adjust width to max-width of staff grid content */
  max-width: 900px;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.s-row .s-row {
  margin-left: -0.8rem;
  margin-right: -0.8rem;
  width: auto;
}

.s-col-2 {
  -ms-flex: 0 1 auto;
      flex: 0 1 auto;
  -ms-flex-preferred-size: 16.66667%;
      flex-basis: 16.66667%;
  display: flex;
  position: relative;
  box-sizing: border-box;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  min-width: 0;
}

.s-col-5 {
  -ms-flex: 0 1 auto;
      flex: 0 1 auto;
  -ms-flex-preferred-size: 41.66666%;
      flex-basis: 41.66666%;
  display: flex;
  position: relative;
  box-sizing: border-box;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  min-width: 0;
}

.s-col-6 {
  -ms-flex: 0 1 auto;
      flex: 0 1 auto;
  -ms-flex-preferred-size: 50.0%;
      flex-basis: 50.0%;
  display: flex;
  position: relative;
  box-sizing: border-box;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  min-width: 0;
}

.s-col-10 {
  -ms-flex: 0 1 auto;
      flex: 0 1 auto;
  -ms-flex-preferred-size: 83.33333%;
      flex-basis: 83.33333%;
  display: flex;
  position: relative;
  box-sizing: border-box;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  min-width: 0;
}

.s-col-12 {
  -ms-flex: 0 1 auto;
      flex: 0 1 auto;
  -ms-flex-preferred-size: 100.0%;
      flex-basis: 100.0%;
  display: flex;
  position: relative;
  box-sizing: border-box;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  min-width: 0;
}

.col--flex-column {
  flex-direction: column;
}

.col--justify-content-center {
  justify-content: center;
}

.col--justify-content-space-around {
  justify-content: space-around;
}



/************************* Search and Sort Options *************************/

.staff-directory-options {
  margin-bottom: 10px;
  color: #005cb9;
  font: 700 12px/14px 'Fira Sans';
}

.search-field-wrap {
    position: relative;
    width: 80%;
  }

.search-field {
  width: calc(100% - 20px);
  padding: 5px 10px;
  font: 400 12px/14px 'Fira Sans';
  border-radius: 5px;
  border: 1px solid #f0f0f0;
}

.search-field__select {
  position: relative;
  height: 26px;
  width: 100%;
  font: 400 12px/14px 'Fira Sans';
  border-radius: 5px;
  border: 1px solid #f0f0f0;
  background-color: #FFFFFF;
}

.search-field__select:after {
  position: absolute;
  top: 10px;
  right: 70px;
  content: "&#9660;";
  font-size: 20px;
  font-weight: 400;
  color: #f0f0f0;
}

.search-submit {
  min-width: 60px;
  position: absolute;
  right: -1px;
  top: 0;
  padding: 5px 10px;
  border-radius: 0 5px 5px 0;
  border: 1px solid #f0f0f0;
  background-color: #f0f0f0;
  color: #666666;
  font: 700 12px/14px 'Fira Sans';
}

.select-submit {
  right: 0;
}

.search-submit:hover {
  background-color: #9dadb7;
  border: 1px solid #9dadb7;
  color: #FFFFFF;
}

.grid-img {
  max-width: 25px;
  height: 100%;
  margin: auto;
}

/* Jump To */

.staff-sort {
  margin: 50px;
}

.staff-sort__text {
  padding: 5px 10px;
  color: #808080;
  font: 400 12px/14px 'Fira Sans';
}

.staff-sort__options {
  min-width: 150px;
  color: #00afaa;
  font: 400 12px/14px 'Fira Sans';
  text-align-last:center;
}

/************************ Results Break ************************/
.results-break {
  width: 100%;
  padding: 5px 10px;
  background-color: #f0f0f0;
  color: #005cb9;
  font: 400 25px/30px 'Fira Sans';
  border-radius: 5px;
}

/************************ Single Staff ************************/
.single-staff {
  padding: 20px 0 30px;
  border-top: 1px solid #f0f0f0;
}

img {
  max-width: 100%;
}

.staff-info {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
}
