/* Table of Contents
 *
 * Grid Styles
 * Search and Sort Options
 * Results Break
 * Sinlge Staff
 *
 */

/************************* Grid Styles *************************/

.staff-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  margin: 0 auto;
}

.s-row {
  -ms-flex: 0 1 auto;
      flex: 0 1 auto;
  width: 100%;
  /* Adjust width to max-width of staff grid content */
  max-width: 900px;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.s-row .s-row {
  margin-left: -0.8rem;
  margin-right: -0.8rem;
  width: auto;
}

.s-col-2 {
  -ms-flex: 0 1 auto;
      flex: 0 1 auto;
  -ms-flex-preferred-size: 16.66667%;
      flex-basis: 16.66667%;
  display: flex;
  position: relative;
  box-sizing: border-box;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  min-width: 0;
}

.s-col-5 {
  -ms-flex: 0 1 auto;
      flex: 0 1 auto;
  -ms-flex-preferred-size: 41.66666%;
      flex-basis: 41.66666%;
  display: flex;
  position: relative;
  box-sizing: border-box;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  min-width: 0;
}

.s-col-6 {
  -ms-flex: 0 1 auto;
      flex: 0 1 auto;
  -ms-flex-preferred-size: 50.0%;
      flex-basis: 50.0%;
  display: flex;
  position: relative;
  box-sizing: border-box;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  min-width: 0;
}

.s-col-10 {
  -ms-flex: 0 1 auto;
      flex: 0 1 auto;
  -ms-flex-preferred-size: 83.33333%;
      flex-basis: 83.33333%;
  display: flex;
  position: relative;
  box-sizing: border-box;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  min-width: 0;
}

.s-col-12 {
  -ms-flex: 0 1 auto;
      flex: 0 1 auto;
  -ms-flex-preferred-size: 100.0%;
      flex-basis: 100.0%;
  display: flex;
  position: relative;
  box-sizing: border-box;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  min-width: 0;
}

.col--flex-column {
  flex-direction: column;
}

.col--justify-content-center {
  justify-content: center;
}

.col--justify-content-space-around {
  justify-content: space-around;
}

.col--align-items-center {
  align-items: center;
}

.s-sm-only {
  display: none;
}

/* Media Queries */
@media screen and (max-width:767px) {
  .s-col-2, .s-col-5, .s-col-6, .s-col-10, .s-col-12 {
    -ms-flex-preferred-size: 100.0%;
        flex-basis: 100.0%;
  }

  .s-sm-hide {
    display: none;
  }

  .s-sm-only {
    display: flex;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .s-col-2 {
    width: 16.66667%;
    -ms-flex-preferred-size: auto;
        flex-basis: auto; }
  .s-col-5 {
    width: 41.66666%;
    -ms-flex-preferred-size: auto;
        flex-basis: auto; }
  .s-col-6 {
    width: 50.0%;
    -ms-flex-preferred-size: auto;
        flex-basis: auto; }
  .s-col-10 {
    width: 83.33333%;
    -ms-flex-preferred-size: auto;
        flex-basis: auto; }
  .s-col-12 {
    width: 100.0%;
    -ms-flex-preferred-size: auto;
        flex-basis: auto; }
}



/************************* Search and Sort Options *************************/

.staff-directory-options {
  margin: 10px 0;
  color: #005cb9;
  font: 700 12px/14px 'Fira Sans', sans-serif;
}

.search-field-wrap {
    position: relative;
    width: 80%;
  }

.search-field {
  width: 100%;
  padding: 10px 70px 10px 10px !important;
  font: 400 12px/14px 'Fira Sans', sans-serif;
  border-radius: 5px;
  border: 1px solid #dddddd !important;
}

.search-field__select {
  position: relative;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #dddddd;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  font: 700 12px/14px 'Fira Sans', sans-serif;
}

.search-field__select::-ms-expand {
  display: none;
}

.search-field-wrap--select:after {
  position: absolute;
  top: 6px;
  right: 55px;
  content: url('../img/arrow.svg');
  width: 14px;
  pointer-events: none;
}

.search-submit {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding: 10px;
  border-radius: 0 5px 5px 0;
  border: 1px solid #dddddd;
  background-color: #dddddd;
  color: #666666;
  font: 700 12px/14px 'Fira Sans', sans-serif;
}

.safari .search-field {
  height: 36px;
}

.safari .search-submit,
.safari .select-submit {
  right: -2px;
}

.ie11 .search-submit {
  height: auto;
}

.ie11 .select-submit {
  min-height: 37px;
}

.search-submit:hover {
  background-color: #9dadb7;
  border: 1px solid #9dadb7;
  color: #FFFFFF;
}

.grid-img {
  max-width: 25px;
  height: 100%;
  margin: auto;
}

/* Jump To */

.staff-sort {
  margin: 50px;
}

.staff-sort__text {
  padding: 5px 10px;
  color: #808080;
  font: 400 12px/14px 'Fira Sans', sans-serif;
}

.staff-sort__text + form {
  position: relative;
}

.staff-sort__text + form:after {
  position: absolute;
  top: 6px;
  right: 10px;
  content: url('../img/arrow.svg');
  width: 14px;
  pointer-events: none;
}

.staff-sort__options {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  min-width: 150px;
  padding: 10px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  color: #00afaa;
  font: 400 12px/14px 'Fira Sans', sans-serif;
  text-align-last:center;
}

.staff-sort__options::-ms-expand {
  display: none;
}

/* Media Queries */
@media screen and (max-width:767px) {
  .search-field-wrap {
    width: 100%;
  }

  .search-field-wrap--select:after {
    right: 80px;
  }

  .search-field {
    padding-right: 80px !important;
  }

  .search-submit {
    min-width: 70px;
  }

  .grid-view {
    -ms-flex-preferred-size: 50.0%;
        flex-basis: 50.0%;
    justify-content: flex-start;
    order: 2;
  }

  .staff-sort {
    margin: 15px 50px 50px;
  }

  .select--jump {
    flex-basis: 100%;
    order: 1;
  }

  .select--jump form {
    position: relative;
    width: calc(100% - 80px);
  }

  .select--jump form:after {
    position: absolute;
    top: 6px;
    right: 10px;
    content: url('../img/arrow.svg');
    width: 14px;
    pointer-events: none;
  }

  .staff-sort__options {
    width: 100%;
  }

  .staff-container .s-col-2 {
    flex-basis: 30%;
  }

  .staff-container .s-col-10 {
    flex-basis: 70%;
  }

  .grid-images {
    justify-content: flex-start;
  }

  .grid-img {
    width: 100%;
    margin-left: 0;
    margin-right: 20px;
  }

  .staff-sort__text {
    color: #005cb9;
    font: 700 12px/14px 'Fira Sans', sans-serif;
  }

  /* Jump To */
  .staff-sort__options {
    text-align-last: left;
  }
}

/************************ Results Break ************************/
.results-break {
  width: 100%;
  padding: 5px 10px;
  background-color: #f0f0f0;
  color: #005cb9;
  font: 400 25px/30px 'Fira Sans', sans-serif;
  border-radius: 5px;
}

/************************ Single Staff ************************/
.single-staff {
  position: relative;
  padding: 20px 0;
}

.single-staff:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0.8rem;
  height: 1px;
  width: calc( 100% - 1.6rem);
  border-bottom: 1px solid #f0f0f0;
}


.staff-img {
  width: 100%;
  max-width: 200px;
  height: 100%;
}

.staff-name {
  color: #666666;
  font: 700 14.5px/17.5px 'Fira Sans', sans-serif;
}

.staff-name__last {
  text-transform: uppercase;
}

.staff-info {
  display: block;
  margin-top: 10px;
  color: #666666;
  font: 700 12px/14px 'Fira Sans', sans-serif;
}

.staff-info--3-col {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count:3; /* Firefox */
  column-count:3;
}

.staff-info p {
  margin-top: 0;
}

.w3-tooltip {
  position: relative;
  display: inline-block;
  padding-bottom: 0;
}

.w3-tooltip:hover span {
  cursor: pointer;
  display: inline-block;
}

.w3-text {
  display: none;
  position:absolute;
  padding: 10px 5px;
  left:-8px;
  bottom:22px;
  border: 1px solid #c8c8c8;
  border-radius: 5px;
  background-color: #f0f0f0;
  white-space: nowrap;
}

.w3-text .arrow {
    border-style: solid;
    position: absolute;
}

.bottom {
    border-color: #c8c8c8 transparent transparent transparent;
    border-width: 8px 8px 0px 8px;
    bottom: -8px;
}

.bottom:after {
    border-color: #f0f0f0 transparent transparent transparent;
    border-style: solid;
    border-width: 7px 7px 0px 7px;
    bottom: 1px;
    content: "";
    position: absolute;
    left: -7px;
}

@media screen and (max-width:767px) {
  .staff-img {
    max-width: 100px;
  }
}
